tbody tr:hover {
    background-color: wheat;
}

.main-label {
    font-size: 32px;
    margin: 0 12px;
}

.full-width {
    width: 100%;
}

.operation {
    margin: 2px 0;
}

.practice-label {
    font-size: 24px;
}

p.scroll {
    height: 110px;
    overflow-x: hidden;
    overflow-y: auto;
}

div.card {
    border-width: 3px;
}