footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px;
}

.sticky-footer {
    position: sticky;
    top: 100%;
}

.footer-row {
    --bs-gutter-x: 0 !important;
}

.footer-row div {
    margin: 5px 0;
}